
.devices-list-view{
    margin-top: 100px;
    text-align: center;
}
.devices-list{
    margin-top: 100px;

}
.devices-list .mydevice{
    display: inline-block;
    width: 256px;
    height: 128px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px gray;
}
